.contentCategory {
  position: relative;
  margin-top: 40px;
  width: 85%;
  display: grid;
  justify-items: center;
}
.contentCategories__title {
  font-size: 28px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
}
.contentCategories__btn {
  margin-top: 37px;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;

  font-size: 18px;
  font-weight: 600;
}

.contentCategories__btn:hover {
  cursor: pointer;
  transition: 0.4s;
  color: #0d63f3;
  background-color: #deeaff;
}
.contentCategories__categories {
  width: 100%;
  margin-top: 55px;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 136px);
  gap: 29px;
}
@media (max-width: 767px) {
  .contentCategories__categories {
    grid-template-columns: repeat(auto-fit, 120px);
  }
}
