@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&family=Onest:wght@100;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Onest";
}
.header--desktop {
  display: contents;
}
.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}
.header__logo {
  cursor: pointer;
  margin-left: 140px;
  width: 91px;
}
.header__catalog {
  cursor: pointer;
  margin-left: 117px;
  padding: 0 18px 0 18px;
  width: 150px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
  border-radius: 8px;
}
.header__catalog:hover + .header__catalogBlock {
  z-index: 1;
  opacity: 1;
}

.catalog__text {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.header__searchDiv {
  margin-left: 60px;
  width: 400px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobileSearch {
  display: none;
}
.searchDiv__buttonSearch {
  cursor: pointer;
  width: 60px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0d63f3;
  border-radius: 0 8px 8px 0;
}
.searchDiv__input {
  width: 340px;
  height: 46px;
  border: 1px solid #e4e7ee;
  border-radius: 8px 0 0 8px;

  color: #6c757d;
  font-size: 17px;
  font-weight: 500;
  padding-left: 18px;
}
.searchDiv__input:focus {
  border: 1.6px solid #0d63f3;
}
.header-btn {
  cursor: pointer;
  margin-left: 80px;
  width: 46px;
  height: 46px;
  background-color: #ecf4ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon {
  width: 24px;
  height: 24px;
}
.header__authorizationBtn {
  margin-left: 60px;
  width: 105px;
  height: 45px;
  border-radius: 8px;
  background: linear-gradient(
    270deg,
    rgba(77, 94, 246, 0.2) 0%,
    rgba(246, 77, 77, 0.2) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;

  font-size: 17px;
  font-weight: 500;
}
.header__authIcon {
  margin-left: 90px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header__authIcon:hover {
  transition: 0.3s;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.header__authorizationBtn:hover {
  transition: 0.3s;
  background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
  color: #fff;
}
.header-btn:hover {
  transition: all ease-in-out 0.3s;
  background: linear-gradient(270deg, #4d5ef6 0%, #f64d4d 100%);
}
.header-btn:hover .header-icon {
  transition: all ease-in-out 0.3s;
  filter: grayscale(1) brightness(1000%);
}
.searchDiv__buttonSearch:hover .buttonSearch__img {
  transform: scale(1.08);
}
.header--mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
}
.headerMobile__content {
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  padding: 0 20px 0 20px;
  transition: ease-in-out all 0.4s;
}
.headerMobile__iconClose {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  height: 30px;
}
.headerMobile__Login {
  margin-top: 96px;
  width: 260px;
  height: 45px;
  background: linear-gradient(
    270deg,
    rgba(77, 94, 246, 0.2) 0%,
    rgba(246, 77, 77, 0.2) 100%
  );
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}
.horizontalLine {
  margin: 15px 0 15px 0;
  width: 100%;
  height: 1px;
  background-color: #e4e7ee;
}
.section-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  margin-bottom: 20px;
  width: 100%;
}
.section-title {
  font-size: 16px;
  font-weight: 600;
}
.section-arrow {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}
.headerMobile__infoService {
  position: absolute;
  bottom: 75px;
  font-size: 16px;
  font-weight: 600;
}
.headerMobile__usEmail {
  position: absolute;
  bottom: 45px;
}
.headerMobile__usPhone {
  position: absolute;
  bottom: 20px;
}
.header__menu {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 105px;
  width: 45px;
  height: 44px;
  display: flex;
  align-items: center;
  display: none;
}
.menu__span,
.header__menu::before,
.header__menu::after {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.header__menu::before {
  content: "";
  position: absolute;
  top: 9px;
}
.header__menu::after {
  content: "";
  position: absolute;
  bottom: 9px;
}
.header__viewPages {
  margin-top: 20px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 60px);
}
.header__searchProducts {
  top: 75px;
  left: 315px;
  z-index: 2;
  position: absolute;
  width: 850px;
  min-height: 300px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 3px;
  overflow-y: scroll;
}
.searchProducts__btnClose {
  margin: 5px 0 0 10px;
  z-index: 2;
  width: 42px;
  height: 42px;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.btnClose__img {
  width: 30px;
  height: 30px;
}
.searchProducts__searchProduct {
  cursor: pointer;
  margin-top: 5px;
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchProducts__searchProduct:hover {
  transition: 0.3s;
  box-shadow: 0px 0px 10px rgba(93, 94, 141, 0.2);
}
.searchProduct__img {
  position: absolute;
  left: 15px;
  height: 50px;
}
.searchProduct__title {
  position: absolute;
  left: 100px;
  font-size: 16px;
  font-weight: 400;
}
.searchProduct__price {
  position: absolute;
  right: 15px;
  font-size: 18px;
  font-weight: 500;
}
.searchProducts__message {
  position: absolute;
  top: 15px;
  right: 40%;
  left: 40%;
  color: #6c757d;
}
@media (max-width: 1530px) {
  .header__logo {
    margin-left: calc(40px + (140 - 40) * ((100vw - 767px) / (1530 - 767)));
    width: calc(75px + (91 - 75) * ((100vw - 767px) / (1530 - 767)));
  }
  .header__catalog {
    margin-left: calc(25px + (117 - 25) * ((100vw - 767px) / (1530 - 767)));
    padding-left: calc(10px + (18 - 10) * ((100vw - 767px) / (1530 - 767)));
    padding-right: calc(10px + (18 - 10) * ((100vw - 767px) / (1530 - 767)));
    width: calc(115px + (150 - 115) * ((100vw - 767px) / (1530 - 767)));
  }
  .header-icon {
    width: calc(20px + (24 - 20) * ((100vw - 767px) / (1530 - 767)));
    height: calc(20px + (24 - 20) * ((100vw - 767px) / (1530 - 767)));
  }
  .catalog__text {
    font-size: calc(12px + (18 - 12) * ((100vw - 767px) / (1530 - 767)));
  }
  .header__searchDiv {
    margin-left: calc(40px + (60 - 40) * ((100vw - 767px) / (1530 - 767)));
    width: calc(260px + (400 - 285) * ((100vw - 767px) / (1530 - 767)));
  }
  .searchDiv__input {
    width: calc(210px + (340 - 210) * ((100vw - 767px) / (1530 - 767)));
  }
  .searchDiv__buttonSearch {
    width: calc(50px + (60 - 50) * ((100vw - 767px) / (1530 - 767)));
  }
  .header-btn {
    margin-left: calc(20px + (80 - 20) * ((100vw - 767px) / (1530 - 767)));
  }
  .header__authorizationBtn {
    margin-left: calc(15px + (60 - 15) * ((100vw - 767px) / (1530 - 767)));
  }
  .header__authIcon {
    margin-left: calc(15px + (60 - 15) * ((100vw - 767px) / (1530 - 767)));
  }
  .header__searchProducts {
    left: calc(65px + (315 - 65) * ((100vw - 767px) / (1530 - 767)));
    top: calc(80px + (75 - 80) * ((100vw - 767px) / (1530 - 767)));
    width: calc(640px + (850 - 640) * ((100vw - 767px) / (1530 - 767)));
    min-height: calc(280px + (300 - 280) * ((100vw - 767px) / (1530 - 767)));
    max-height: calc(400px + (500 - 400) * ((100vw - 767px) / (1530 - 767)));
  }
  .searchProducts__message {
    left: calc(37% + (40 - 37) * ((100vw - 767px) / (1530 - 767)));
    right: calc(37% + (40 - 37) * ((100vw - 767px) / (1530 - 767)));
  }
}
@media (max-width: 767px) {
  .header__authIcon {
    margin: 10px 0 0 15px;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    background-color: #ffffff00;
    box-shadow: 0 0 0 #ffffff00;
    height: 125px;
  }
  .mobileSearch {
    display: flex;
    margin-left: 0;
    padding-top: 55px;
  }
  .header__searchDiv {
    width: calc(230px + (470 - 325) * ((100vw - 320px) / (767 - 320)));
  }
  .searchDiv__input {
    width: calc(190px + (430 - 290) * ((100vw - 320px) / (767 - 320)));
  }
  .header--desktop {
    display: none;
  }
  .header__menu {
    display: flex;
  }
  .headerMobile__content.active {
    left: 0;
  }
  .header--mobile.active {
    opacity: 1;
    z-index: 3;
  }
  .header__logo {
    margin-left: calc(50px + (40 - 5) * ((100vw - 320px) / (767 - 320)));
    width: calc(95px + (75 - 95) * ((100vw - 320px) / (767 - 320)));
  }
  .header__menu {
    left: calc(50px + (105 - 50) * ((100vw - 320px) / (767 - 320)));
  }
  .header__searchProducts {
    left: calc(10px + (65 - 10) * ((100vw - 320px) / (767 - 320)));
    top: 145px;
    width: calc(300px + (640 - 300) * ((100vw - 320px) / (767 - 320)));
    max-height: calc(320px + (400 - 320) * ((100vw - 320px) / (767 - 320)));
  }
  .searchProducts__message {
    font-size: 14px;
    right: 0;
    left: calc(30% + (37 - 30) * ((100vw - 320px) / (767 - 320)));
  }
  .searchProduct__title {
    max-width: calc(160px + (300 - 160) * ((100vw - 320px) / (767 - 320)));
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (767 - 320)));
    left: calc(70px + (100 - 70) * ((100vw - 320px) / (767 - 320)));
  }
}
