.electedContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.electedContent__title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 28px;
  font-weight: 600;
}
.electedContent__arrow {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 30px;
  width: 40px;
  height: 40px;
}
.electedContent__text {
  cursor: pointer;
  position: absolute;
  top: 25px;
  left: 63px;
  font-size: 16px;
  font-weight: 400;
}
.electedContent__arrow:hover + .electedContent__text {
  text-decoration: underline;
}
.electedContent__text:hover {
  text-decoration: underline;
}
.electedContent__electedProducts {
  margin-top: 100px;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 20px;
}
@media (max-width: 767px) {
  .electedContent__electedProducts {
    justify-content: center;
  }
}
